* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  padding: 15px;
}

/* Main styles */

.main {
  display: flex;
  flex-direction: row-reverse;
  background: #F5F7FA;
  max-width: 1280px;
  margin: 0 auto;
}

.main-content {
  background: #FFFFFF;
  margin: 40px;
}

/* About styles */

.about,
.projects,
.work {
  margin-left: 50px;
  margin-top: 40px;
}

/* Project styles */



/* Work styles */



/* Education styles */

.education {
  margin-left: 10px;
}

/* Sidebar styles */

.sidebar {
  width: 370px;
  background: #1E2939;
  padding-top: 40px;
}

.photo {
  margin-bottom: 50px;
  width: 370px;
  border-radius: 100%;
}

.contacts,
.tech-skills,
.soft-skills {
  margin-left: 40px;
}

.contacts {
  margin-bottom: 50px;
}

.sidebar-title {
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 10px;
}

.contact-type {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

.contact-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #747c88;
}

.tech-skills-list,
.soft-skills-list {
  color: #FFFFFF;
  padding: 0;
  margin-left: 16px;

}

.tech-skills-item,
.soft-skills-item {
  color: #FB6D3A;
}

.tech-skills-text,
.soft-skills-text {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;

}